.movie-carousel{
    background-color: #010000;
}

.movie-carousel .slick-next{
    right: 5%;
 }
 
 .movie-carousel .slick-prev{
    left: 5%;
    z-index: 10;
}
.movie-carousel .slick-prev::before, .slick-next::before{
    font-size: 2rem;
}
.movie-carousel .slick-dots{
   bottom:3%;
}
.movie-carousel .slick-dots li button::before{
    font-size: 0.9rem;
    color:#FF9900;
}