.cinema-item:hover{
    transition: all 0.5s; 
}
.cinema-active{
background-color: red;
}
.cinema-nonactive{
  background-color: blue;
  }
.cinema-name, .cinema-address{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 30px;
}