.cinema-content {
  height: 345px;
}
.cinema-schedule, .cinema-list {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
}
.cinema-schedule::-webkit-scrollbar, .cinema-list::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}
.cinema-schedule::-webkit-scrollbar-thumb, .cinema-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #FF9900;
}

.cinema-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
.active{
  background-color: red;
}
