.bg-app{
    background-image: url("../../assets/backapp.jpg"); 
    background-attachment: fixed;
}
.caoursel-mobile{
    width: 45%;
    min-width: 30%;
    position: relative;
}
.caoursel-frame{
    position: absolute;
    top: -3%;
    width: 114% ;
    left: -7%;
}
img {
    max-width: none;
}
.bg-app button{
    box-shadow: 2px 2px 2px 2px rgba(233, 93, 12, 0.2);
}
.bg-app button:hover{
    background-color: white !important;
    color: #ff3300;
    transition: all 0.8s;
}